<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<body>

<!-- Верхний навбар -->

<nav class="navbar navbar-dark bg-dark box-shadow">
    <span>
      <span class="navbar-brand" th:text="${user.email}"></span>
      <span class="navbar-brand" th:text="' with roles: '"></span>
         <span class="navbar-brand" th:each="role : ${user.roles}"
               th:text="${role.name} + ' '"></span>
    </span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<!-- боковой навбар -->

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <br>
            <ul class="nav nav-pills flex-column">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link active">Admin</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a href="/admin/user" class="nav-link">User</a>
                </li>
            </ul>
        </div>

        <!--main table -->

        <div class="tab-pane fade show active" id="adminPanel">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                </li>
            </ul>

            <div class="tab-content">

                <!--All users-->

                <div class="tab-pane fade show active" id="usersTable" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card">
                        <h5 class="card-header">All users</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${allUsers}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <a th:each="role : ${user.roles}"
                                           th:text="${role.getName() + ' '}"></a>
                                    </td>

                                    <!-- Кнопки edit, delete-->

                                    <td>
                                        <button class="btn btn-info edit-btn"
                                                data-toggle="modal"
                                                th:data-target="${'#editUser'+ user.id}">Edit
                                        </button>
                                    </td>

                                    <td>
                                        <button class="btn btn-danger"
                                                data-toggle="modal"
                                                th:data-target="${'#deleteUser'+ user.id}">Delete
                                        </button>
                                    </td>

                                    <!--Модальное окно Edit-->

                                    <div class="modal fade"
                                         th:id="${'editUser'+ user.id}" tabindex="-1" role="dialog"
                                         th:aria-labelledby="${'editUser'+ user.id}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <form th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                      th:object="${user}" th:method="POST"
                                                      th:id="${'editForm' + user.id}">

                                                    <div class="modal-body col-md text-center">
                                                        <label class="font-weight-bold" for="id3">ID</label>
                                                        <input type="text" class="form-control"
                                                               th:value="${user.id}" name="id" id="id3"
                                                               readonly>

                                                        <label class="font-weight-bold" for="firstName3">First
                                                            name</label>
                                                        <input type="text" class="form-control" name="firstName"
                                                               th:value="${user.firstName}" id="firstName3"
                                                               required>

                                                        <label class="font-weight-bold" for="lastname3">Last
                                                            name</label>
                                                        <input type="text" class="form-control" name="lastName"
                                                               th:value="${user.lastName}" id="lastname3"
                                                               required>

                                                        <label class="font-weight-bold"
                                                               for="email3">Email</label>
                                                        <input type="text" class="form-control" name="email"
                                                               th:value="${user.email}" id="email3"
                                                               required>

                                                        <label class="font-weight-bold"
                                                               for="password3">Password</label>
                                                        <input type="password"
                                                               class="form-control form-control-sm"
                                                               name="password"
                                                               id="password3">

                                                        <label class="font-weight-bold"
                                                               for="roles3">Roles</label>
                                                        <select multiple size="2" class="form-control"
                                                                name="roleNames"
                                                                id="roles3"
                                                                required>
                                                            <option
                                                                    th:each="role : ${allRoles}"
                                                                    th:value="${role.name}"
                                                                    th:text="${role.name}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>

                                                        <button type="submit"
                                                                class="btn btn-primary">Edit
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Модальное окно Delete -->

                                    <div class="modal fade"
                                         th:id="${'deleteUser'+ user.id}"
                                         tabindex="-1"
                                         role="dialog"
                                         th:aria-labelledby="${'deleteUser'+ user.id}"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="close"
                                                            data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <form class="modal-body col-md text-center"
                                                      th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                      th:method="DELETE">
                                                    <div class="modal-body text-center">
                                                        <label class="font-weight-bold" for="id1">ID</label>
                                                        <input type="text" class="form-control"
                                                               th:value="${user.id}" name="id" id="id1"
                                                               readonly>

                                                        <label class="font-weight-bold" for="firstname1">First
                                                            name</label>
                                                        <input type="text" class="form-control" name="firsName"
                                                               th:value="${user.firstName}" id="firstname1"
                                                               readonly>

                                                        <label class="font-weight-bold" for="lastname1">Last
                                                            name</label>
                                                        <input type="text" class="form-control" name="lastName"
                                                               th:value="${user.lastName}" id="lastname1"
                                                               readonly>

                                                        <label class="font-weight-bold"
                                                               for="email1">Email</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               th:value="${user.email}" name="email" id="email1"
                                                               readonly>

                                                        <label class="font-weight-bold"
                                                               for="roles1">Roles</label>
                                                        <select multiple size="2"
                                                                class="form-control" id="roles1"
                                                                name="roleNames"
                                                                readonly>
                                                            <option
                                                                    th:each="role : ${user.roles}"
                                                                    th:value="${role.name}"
                                                                    th:text="${role.name}">
                                                            </option>
                                                        </select>

                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>

                                                            <button type="submit"
                                                                    class="btn btn-danger">Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- New User -->

                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                    <div class="card">
                        <h5 class="card-header">New user</h5>
                        <div class="card-body text-center">

                            <form th:method="POST" th:action="@{/admin/add/}">

                                <div class="font-weight-bold">
                                    <label for="firstname2">First name</label>
                                    <input type="text" class="form-control"
                                           name="FirstName"
                                           placeholder="First name" id="firstname2"
                                           required>
                                </div>

                                <div class="font-weight-bold">
                                    <label for="lastname2">Last name</label>
                                    <input type="text" class="form-control"
                                           name="LastName"
                                           placeholder="Last name" id="lastname2"
                                           required>
                                </div>

                                <div class="font-weight-bold">
                                    <label for="email2">Email</label>
                                    <input type="text" class="form-control" name="email"
                                           placeholder="Email" id="email2"
                                           required>
                                </div>

                                <div class="font-weight-bold">
                                    <label for="password2">Password</label>
                                    <input type="password" class="form-control"
                                           name="password"
                                           placeholder="Password" id="password2"
                                           required>
                                </div>

                                <div class="font-weight-bold">
                                    <label for="roles2">Roles</label>
                                    <select multiple size="2" class="form-control"
                                            name="roleNames"
                                            id="roles2"
                                            required>
                                        <option
                                                th:each="role : ${allRoles}"
                                                th:value="${role.name}"
                                                th:text="${role.name}">
                                        </option>
                                    </select>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success">Add new user
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>